In [102]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [103]:
# TODO: bin: length, fraction of each base
features_df = pd.read_csv("features.csv")
features_df['length'] = features_df['length'] - 3
features_df = features_df.drop(columns=['Unnamed: 0', 'score'])
features_df.head()

,+ve strand,length,longest A,longest C,longest G,longest T,As,Cs,Gs,Ts,...,pos_-4_GG,pos_-4_GT,pos_-4_TA,pos_-4_TC,pos_-4_TG,pos_-4_TT,dist prim 3',dist prim 5',dist snd 3',dist snd 5'
0,1,21,1,1,2,2,0.142857,0.238095,0.428571,0.190476,...,0,0,0,0,0,0,0.478330,0.518617,0.479795,0.479443
1,1,21,1,4,2,1,0.142857,0.476190,0.333333,0.047619,...,0,0,0,0,0,0,0.270749,0.307569,0.295142,0.294326
2,1,21,1,3,2,1,0.095238,0.380952,0.380952,0.142857,...,0,0,0,0,1,0,0.267925,0.234560,0.266423,0.275421
3,1,21,1,3,2,1,0.238095,0.238095,0.428571,0.095238,...,0,1,0,0,0,0,0.342018,0.288672,0.286673,0.299012
4,1,21,1,3,3,2,0.047619,0.285714,0.523810,0.142857,...,1,0,0,0,0,0,0.510186,0.459465,0.366557,0.381031

In [104]:
# Bin longest run of each nucleotide
longest = features_df[['longest A', 'longest C', 'longest G', 'longest T']]

for index, nucl in enumerate(['A', 'C', 'T', 'G']):
    for run_length in range(longest.max()[index]):
        colname = 'longest_' + nucl + "_" + str(run_length)
        features_df[colname] = longest['longest ' + nucl] == run_length

features_df.head()

,+ve strand,length,longest A,longest C,longest G,longest T,As,Cs,Gs,Ts,...,longest_T_8,longest_G_0,longest_G_1,longest_G_2,longest_G_3,longest_G_4,longest_G_5,longest_G_6,longest_G_7,longest_G_8
0,1,21,1,1,2,2,0.142857,0.238095,0.428571,0.190476,...,False,False,False,True,False,False,False,False,False,False
1,1,21,1,4,2,1,0.142857,0.476190,0.333333,0.047619,...,False,False,False,True,False,False,False,False,False,False
2,1,21,1,3,2,1,0.095238,0.380952,0.380952,0.142857,...,False,False,False,True,False,False,False,False,False,False
3,1,21,1,3,2,1,0.238095,0.238095,0.428571,0.095238,...,False,False,False,True,False,False,False,False,False,False
4,1,21,1,3,3,2,0.047619,0.285714,0.523810,0.142857,...,False,False,False,False,True,False,False,False,False,False

In [106]:
# Bin nucleotide composition
features_df[['A', 'C', 'G', 'T']] = features_df[['As', 'Cs', 'Gs', 'Ts']]
features_df = features_df.drop(columns=['As', 'Cs', 'Gs', 'Ts'])
nucl_comp = features_df[['A', 'C', 'G', 'T', 'GC', 'CA', 'AG']]
crit = np.arange(0.1, 1.1, 0.1)
for index, nucl in enumerate(['A', 'C', 'T', 'G', 'GC', 'CA', 'AG']):
    for index in crit:
        colname = nucl + '_comp_' + str(round(index, 2))
        upper = nucl_comp[nucl] < index
        lower = nucl_comp[nucl] > index - 0.1
        features_df[colname] = upper & lower

features_df.head()

,+ve strand,length,longest A,longest C,longest G,longest T,GC,CA,AG,pos_-27_A,...,AG_comp_0.1,AG_comp_0.2,AG_comp_0.3,AG_comp_0.4,AG_comp_0.5,AG_comp_0.6,AG_comp_0.7,AG_comp_0.8,AG_comp_0.9,AG_comp_1.0
0,1,21,1,1,2,2,0.15,0.00,0.05,0,...,True,False,False,False,False,False,False,False,False,False
1,1,21,1,4,2,1,0.15,0.10,0.10,0,...,False,False,False,False,False,False,False,False,False,False
2,1,21,1,3,2,1,0.15,0.00,0.10,0,...,False,False,False,False,False,False,False,False,False,False
3,1,21,1,3,2,1,0.05,0.00,0.15,0,...,False,True,False,False,False,False,False,False,False,False
4,1,21,1,3,3,2,0.20,0.05,0.05,0,...,True,False,False,False,False,False,False,False,False,False

In [107]:
# Length Bins
length = features_df[['length']]
max_length = int(length.max())
min_length = int(length.min())

for leng in range(min_length, max_length + 1):
        colname = 'length_' + str(leng)
        features_df[colname] = length == leng

features_df.head()

,+ve strand,length,longest A,longest C,longest G,longest T,GC,CA,AG,pos_-27_A,...,AG_comp_0.9,AG_comp_1.0,length_18,length_19,length_20,length_21,length_22,length_23,length_24,length_25
0,1,21,1,1,2,2,0.15,0.00,0.05,0,...,False,False,False,False,False,True,False,False,False,False
1,1,21,1,4,2,1,0.15,0.10,0.10,0,...,False,False,False,False,False,True,False,False,False,False
2,1,21,1,3,2,1,0.15,0.00,0.10,0,...,False,False,False,False,False,True,False,False,False,False
3,1,21,1,3,2,1,0.05,0.00,0.15,0,...,False,False,False,False,False,True,False,False,False,False
4,1,21,1,3,3,2,0.20,0.05,0.05,0,...,False,False,False,False,False,True,False,False,False,False

In [110]:
features_df = features_df.drop(columns=['length', 
                          'longest A', 'longest C', 'longest G', 'longest T', 
                          'A', 'C', 'G', 'T',
                          'GC', 'CA', 'AG'])

In [111]:
features_df.head()

,+ve strand,pos_-27_A,pos_-27_C,pos_-27_G,pos_-27_T,pos_-26_A,pos_-26_C,pos_-26_G,pos_-26_T,pos_-25_A,...,AG_comp_0.9,AG_comp_1.0,length_18,length_19,length_20,length_21,length_22,length_23,length_24,length_25
0,1,0,0,0,0,0,0,0,0,0,...,False,False,False,False,False,True,False,False,False,False
1,1,0,0,0,0,0,0,0,0,0,...,False,False,False,False,False,True,False,False,False,False
2,1,0,0,0,0,0,0,0,0,0,...,False,False,False,False,False,True,False,False,False,False
3,1,0,0,0,0,0,0,0,0,0,...,False,False,False,False,False,True,False,False,False,False
4,1,0,0,0,0,0,0,0,0,0,...,False,False,False,False,False,True,False,False,False,False

In [112]:
features_df.to_csv('features_binned.csv')